.circle{
	border-radius: 50%;
}

.intro img{
	width: 280px;
	border-radius: 50%;
}

.navbar-custom .navbar-brand{
	font-size: 18px;
}


#education img{
	width: 200px;
	height: 200px;
}
#education h3{
	margin-top: 15px;
}

#education .col-md-4{
	padding-top: 50px;
	padding-bottom: 50px;
}


#employment{
	padding-top: 50px;
	padding-bottom: 50px;
}

#employment .col-md-3{
	padding-top: 50px;
	padding-bottom: 50px;
}

#employment img{
	width: 200px;
	height: 200px;
}

#employment h3{
	margin-top: 15px;
}

.cbp-qtcontent img{
	width: 210px;
}

.social-blog{
	margin-left: auto;
	margin-right: auto;
}

.blog-pic{
	width: 100%;
}


@media (max-width: 400px) {

	.intro img{
		width: 70%
	}
	.scroll-down{
		bottom: 5px;	
	}
}
